extends layout

block content
  h1 Welcome!
  h2 Estimated value of holdings: #{totalBtcValue}
  ul
    each balance, currency in balances
      li
        ul
          li #{currency}
          li #{balance.btcValue}BTC
